$bg-dark: #1e1e2e;
$bg-light: #dddddd;

$bg-dark-2: #2e2e3e;
$bg-light-2: #efefef;

$primary: #aaa4f4;
$darker-primary: #8884f4;
$secondary: lightpink;

Screen {
    align: center middle;
    background: $bg-light;
}

Screen:dark {
    background: $bg-dark;
}

.media-info {
    width: 100%;
    height: 100%;
    align: center middle;
}

.media-info-texts {
    color: $text;
    text-style: bold;
    height: auto;
    text-align: center;
    margin: 1 0;
}

#artist-name {
    color: $darker-primary;
}

#album {
    text-opacity: 0.4;
}

#progress-bar {
    width: 100%;
    margin-top: 2;
    margin-left: 40;
}

.control-buttons {
    width: 1fr;
    background: transparent;
    border: round $secondary;
}

.control-buttons-group {
    width: 100%;
    height: 100%;
    align: center bottom;
}

MediaPlayer {
    height: 95%;
    width: 90%;
    min-width: 50;
    background: $bg-light-2;
    color: $text;
    padding: 1 2;
}

MediaPlayer:dark {
    background: $bg-dark-2;
}

.media-player-container {
    width: 100%;
    height: 100%;
    layout: grid;
    grid-size: 1;
    grid-rows: 7fr 1.5fr 0.5fr;
}

#file-explorer:dark {
    background: $bg-dark;
}

#file-explorer {
    background: $bg-light;
}

.files {
    width: 100%;
    height: 100%;
}

FileExplorer {
    border: round $primary;
    border-title-align: center;
    height: 100%;
    width: 1fr;
    margin: 0 3;
}

